div  {
    font-family: Arial, sans-serif;
    margin: 1px;
    color: #e9d4d4;
}

.ejercicio {
    background-color: rgb(0, 255, 0);
    border:  20px solid rgb(0, 255, 0);
    margin: 1px;
}

.badge {
    background-color: #ffffff;
    color: rgb(0, 255, 0);
    padding: 10px 10px;
    border-radius: 15px;
    margin-right: 10px;
    font-weight: bold;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}


